<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='landingpage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <title>Doctors</title>
</head>
<body>
  {% if doctors %}
       <table>
	 <thead>
	   <tr>
	     <th width="30%"> Dr's Name </th>
	     <th width="30%"> Specialization </th>
	     <th width="30%"></th>
	   </tr>
	 </thead>
	 <tbody>
    	 {% for doctor in doctors %}
	 <tr>
		 <td> Dr' {{ doctor.first_name }} {{ doctor.last_name }} </td>
		 <td> {{ doctor.specialization }} </td>
	 </tr>
	 {% endfor %}
	 </tbody>
       </table>
</body>
</html>

