<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/non.css') }}">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
    </head>
    <body>
        <div class="wrapper">
            <p><span class="name">Jsap.</span> <span class="doc">docs</span></p>
	    {% import "bootstrap/wtf.html" as wtf %}
	    {% import "bootstrap/utils.html" as utils %} 
	    {{ utils.flashed_messages() }}
	    <!--{{ wtf.quick_form(form) }}-->
            <form method="POST" action="/signup">
		    {{ form.csrf_token }}
                <h1 class="title">Registration form</h1>
                <div class="input-box">
                    <div class="input-field">
			    {{ form.email(placeholder="Email Address") }}
			    {{ form.email.label }}
		    </div>
                    <div class="input-field">
			    {{ form.first_name(placeholder="First Name") }}
			    {{ form.first_name.label }}
		    </div>
		</div>
		<div class="input-box">
                    <div class="input-field">
			    {{ form.second_name(placeholder="Second Name") }}
			    {{ form.second_name.label }}
		    </div>
                    <div class="input-field">
			    {{ form.surname(placeholder="Surname") }}
			    {{ form.surname.label }}
		    </div>
		</div>
		 <div class="input-box">
                    <div class="input-field">
			    {{ form.age(placeholder="Age") }}
			    {{ form.age.label }}
		    </div>
		 </div>
		 <div class="input-box">
                    <div class="input-field">
			    {{ form.password(placeholder="Password") }}
			    {{ form.password.label }}
		    </div>
                    <div class="input-field">
			    {{ form.confirm_password(placeholder="Confirm Password") }}
			    {{ form.confirm_password.label }}
		    </div>
		 </div>
                <span class="gender-title">Gender</span>
                    <div class="gender-category">
			    {{ form.gender() }}
		    </div>
                    <!--   <input type="text" placeholder="First Name" required>
                    </div>
		    <div class="input-field">
			    <input type="text" placeholder="Second Name" required>
		    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input type="text" placeholder="email" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="phone number" required>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input type="password" placeholder="password" required>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="confirm password" required>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input type="text" placeholder="Specialization" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="KMPDC License Number" required>
                    </div>
                </div>
                <span class="gender-title">Gender</span>
                <div class="gender-category">
                    <input type="radio" name="gender" id="male">
                    <label for="gender">male</label>
                    <input type="radio" name="gender" id="female">
                    <label for="gender">female</label>
                    <input type="radio" name="gender" id="other">
                    <label for="gender">other</label>
		</div>-->
                <button class="btn" style="background-color: rgb(95, 88, 102); border-radius: 10px; width: fit-content; color: rgba(26, 23, 23, 0.904);padding: 4px;">submit</button>
		</form>
		<p class="lnin" style="color: rgb(43, 8, 170); font-family: 'Courier New', Courier, monospace;">Already have an account? <a href="{{ url_for('auth.login') }}">login</a></p>
        </div>
    </body>
</html>
