*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:  center;
    align-items: center;
    min-height: 100vh;
    background: url('doctor.png');
    background-size: cover;
    background-position: center;
}
.name {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.doc{
    color: blue;
}
.wrapper{
    width: 750px;
    background: url('Medical-Doctors.jpg');
    border-radius: 20px;
    color: aliceblue;
    padding: 40px 35px 55px;
    border: rgb(6, 10, 66);
}
.title{
    color: grey;
}
.input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;
}
.input-field {
    position: relative;
    width: 48%;
    background: transparent;
    margin: 13px 0;
}
.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(194, 216, 231);
    outline: none;
    font-size: 16px;
    color: azure;
    border-radius: 6px;
    padding: 10px;
}
.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.541);
    font-weight: 4px;
}
.gender-title {
    color: black;
    margin-top: 20px;
    padding-top: 20px;
}
.gender-category {
    color: black;
    margin: 10px;
    padding: 10px;
}
.btn:hover{
    background-color: aquamarine;
}
.description p{
    color: rgb(69, 42, 165);
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
