<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="device-width", initial-scale=1.0/>
        <title>Jsap_medic</title>
        <meta charset="utf-8"/>
        <meta name="description" content="obalas new webpage"/>
        <link rel="icon" type="image/jpeg" href="./medical-logo.jpg"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingpage.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="registration.html">Doctor</a></li>
                    <li><a href="appointment.html">Patient</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="new.html">New?</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="picture">
                <style>
                    main{
                        background-image: url("live-background.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-attachment: fixed;
                    }
                </style>
                <div class="header">
                    <h1><span class="new">welcome to</span><span class="name"> Jsap.<span class="doctor">docs</span></h1>
                </div>
                <div class="work">
                    <div class="wrk">
                        <h2><span class="s">Jsap.</span><span class="d">docs</span> for a healthy community</h2>
                        <p>We at Jsap aim at cutting the long lines<br>
                            at the hospitals by providing a faster way<br>
                            of reaching the most qualified medical personnel.<br>
                            This platform connects you to available and most qualified doctor<br> 
                            for your ailment
                        </p>
                        <div class="account">
                            <h3>create an account</h3>
                            <a href="#" class="link">Get started</a>
                        </div>
                    </div>
                    <div class="work-image">
                        <img src="./pic-work-03.jpg">
                    </div>
                </div>
                <div class="main-body">
                    <div class="about">
                        <h2><a href="#">About</a></h2>
                        <p>we are<br>the face of<br>modern medical<br>
                        world</p>
                    </div>
                    <div class="person" style="width: 150px; height: 150px;">
                        <img src="./doctor.png" alt="Doctor Image">
                    </div>
                    <div>
                        <p>our work speaks for itself
                            <br>we offer the following services<br>
                            <ul class="list">
                                <li>web design</li>
                                <li>app development</li>
                                <li>graphic design</li>
                            </ul>
                        </p>
                    </div> 
                </div>
            </section>
        </main>
    </body>
</html>
