.header {
    padding: 4px;
    margin: 10px;
}
.work {
    padding: 6px;
    margin: 6px;
    text-align: center;
}
.s {
    color: red;
    font-size: 30px;
}
.new {
    color: black;
}
.name {
    color: red;
}
.doctor {
    color: blue;
    font-size: 18px;
}
p {
    font-size: 25px;
}
