nav {
    width: 100%;
    height: 60px;
    background-color: rgb(98, 218, 218);
}
nav ul {
    float: left;
}
nav ul li {
    float: left;
    list-style: none;
}
nav ul li  a {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: #1013d1;
    font-size: 30px;
    padding: 4px 14px;
}
nav ul li a:hover{
    color: antiquewhite;
    background-color: #2c3e50;
    border-radius: 10px;
}
nav ul li a:active{
    background-color: aquamarine;
    color: red;
}
main{
    margin-top: 0;
}
.header{
    font-size: 20px;
    border-style: groove;
    width: fit-content;
    border-radius: 10px;
    padding: 4px;
}
.new{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.doctor{
    font-size: 10px;
    color: blue;
}
.main-body {
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    border-style: double;
}
.about{
    padding: 20px;
}
p {
    text-align: center;
    font-size: 18px;
    color: #08011a;
    font-weight: 100;
}
.d{
    color: blue;
    font-weight: 200;
    font-size: 14px;
}
.s{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
.picture {
    display: block;
    margin-top: 0px;
    padding-top: 10px;
    align-items: center;
    padding: 10px;
}
main a {
    color: rgb(51, 10, 231);
    background-color: rgb(220, 239, 245);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    font-weight: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.person > * {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    border: 2px brown;
    border-radius: 70px;
}
.work{
    display: flex;
    border: #2c3e50;
    padding-bottom: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
    margin-top: 4px;
}
.work-image{
    margin-bottom: 20px;
    margin-top: 10px;
}
.account{
    text-align: center;
    font-size: 20px;
}
.link{
    background-color: red
}
.wrk{
    border: #2c3e50;
    padding: 4px;
    margin-top: 10px;
}
h2{
    text-align: center;
    color: black;
}
ul{
    text-align: start;
    text-decoration: none;
    list-style:disc;
    font-size: 20px;
    margin-left: 100px;
}
.list {
    color: rgb(4, 0, 255);
}
 
