<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.html">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>
    <body style="padding: 0; margin: 0; background: url('background2.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="header" style="color: rgb(29, 24, 24);">
            <h1><span class="new">welcome to</span><span class="name"> Jsap.<span class="doctor">docs</span></h1>
        </div>
        <div class="work">
            <div class="wrk">
                <h2><span class="s">Jsap.</span><span class="doctor">docs</span> for a healthy community</h2>
                <p>We at Jsap aim at cutting the long lines<br>
                    at the hospitals by providing a faster way<br>
                    of reaching the most qualified medical personnel.<br>
                    This platform connects you to available and most qualified doctor<br> 
                    for your ailment
                </p>
                <div class="pictures">
                    <img src="./pic-person-02.jpg" style="border-radius: 80px; width: 110px;">
                    <img src="./doctor.png" style="width: 110px; border-radius: 60px;">
                </div>
                <div class="account">
                    <h3>visit our site and 
                    <a href="landingpage.html" class="link">Get started</a>
                    </h3>
                </div>
            </div>

    </body>
